body {
    height: 100%;
    Font-Family: "Open Sans", Sans-Serif;
    Margin: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090A0F 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.Site-Header {
    Padding: 0.5em 1em;
    text-align: center;
}
.Site-Identity H1 {
    color: #fff;
    padding: 10px;
    Font-Size: 1.5em;
    Margin: 0.6em 0;
    Display: Inline-Block;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    /* border: 2px solid black; */
}
.input-header{
    text-align: center;
}

.input-container {
    padding: 15px;
    margin: 0 auto;
    max-width: 40%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem rgb(201, 200, 194), -0.5rem -0.5rem #e9cc76;
}
label , input {
    font-weight: bold;
    display: block;
}
input{
    border: none;
    border-bottom: 2px solid black;
    width: 95%;
    padding: 5px;
    letter-spacing: 1px;
}
input:focus{
    outline: none;
}
.input:nth-child(1){
    margin-bottom: 10px;
} 

.submit-container{
    text-align: center;
}

.table-container{
    box-shadow: -0.6rem 0rem #e9cc76;
    max-width: 900px;
    margin-top: 3rem;
}

table{
    border-spacing: 0px;
    width: 100%;
}
thead th{
    color: #fff;
    padding: .75em;
    background-color: rgba(25, 50, 88, 0.671);
}
/* table th:nth-child(1){
    box-shadow: -0.6rem 0rem #e9cc76;
} */
tbody td, thead th {
    color: #fff;
    padding: .75em;
    vertical-align: top;
    text-align: center;
    letter-spacing: 2px;
}

tbody td{
    border-top: 2px solid rgb(255, 255, 255);
}

/* tbody tr:nth-child(even){
    box-shadow: -0.6rem 0rem rgb(71, 84, 119)
}
tbody tr:nth-child(odd){
    box-shadow: -0.6rem 0rem rgb(122, 132, 165)
} */
td a {
    margin-left: 10px;
}
tbody tr{
    background-color: #23303f;
}
tbody tr:hover{
    background-color: rgb(96, 111, 111);
}
.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#update-container {
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
}

.myButton {
    margin-top: 1.4rem;
	box-shadow: 0px 4px 0px 0px #1c1b18;
	background-color:#e9cc76;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	padding:9px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}

